body {
    background-color:	#183ee5;
    font-family:	sans-serif;
}

.box {
    background-color:	#FFFFFF;
    border-style:	solid;
    border-width:       2px;
    padding:		5px;
    margin-top:	        5px;
}
.box2 {

    background-color:	#FFFFFF;
    border-style:	solid;
    border-width:       2px;
    padding:		5px;
    margin-top:	        5px;
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.logo {
    border-radius: 50%; /* Makes the image circular */
    width: 140px; /* Adjust based on your preference */
    height: 140px; /* Adjust based on your preference */
    margin-right: 15px; /* Adds some space between the logo and the text */
}
td.project {
    border-color:       #202322;
    background-color:	#F8F8F8;
    border-style:	solid;
    border-width:       3px;
    padding:		2px;
    margin-top:	        2px;
}

img.project {
    border-style:       none;
}

.photo {
    vertical-align:     top;
}

td.box {
    font-size: 30px; 
}

h2 {
    background-color:  #CCCCEE;
    margin-top:        0;
}

h2.morespace {
    margin-top:        20px;
    margin-bottom:     5px;
}

ul {
    overflow:          hidden;
}

.clearfix:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  line-height:0;
  visibility:hidden;
}
